#!/usr/bin/make -f

include /usr/share/dpkg/default.mk

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

%:
	dh $@ --with dkms

override_dh_auto_install-indep:
	mkdir -p $(CURDIR)/debian/wireguard-dkms/usr/src
	cp -a $(CURDIR)/wireguard-src/src $(CURDIR)/debian/wireguard-dkms/usr/src/wireguard-$(DEB_VERSION_UPSTREAM)/
	$(MAKE) -C wireguard-src/src DESTDIR=$(CURDIR)/debian/wireguard-dkms DKMSDIR=/usr/src/wireguard-$(DEB_VERSION_UPSTREAM)/ dkms-install

override_dh_auto_install-arch:
	$(MAKE) -C wireguard-src/src/tools DESTDIR=$(CURDIR)/debian/wireguard-tools WITH_SYSTEMDUNITS=yes WITH_WGQUICK=yes WITH_BASHCOMPLETION=yes install

override_dh_auto_build-arch:
	$(MAKE) -C wireguard-src/src/tools

override_dh_dkms:
	dh_dkms -p wireguard-dkms -- wireguard-src/src/dkms.conf
