[Unit]
Description=WireGuard connection to %i
PartOf=wireguard.service
ReloadPropagatedFrom=wireguard.service
Before=systemd-user-sessions.service

[Service]
Type=oneshot

# %i is your connection name created from .conf files in /etc/wireguard
# For ex.: Use systemctl enable wireguard@server.service to enable server example setup
# You can store unlimited amount of various connections in /etc/wireguard

ExecStart=/usr/sbin/wg-config add wg%i --config=/etc/wireguard/%i.conf --env-file=/etc/wireguard/%i.conf
ExecReload=/usr/sbin/wg-config del wg%i --config=/etc/wireguard/%i.conf --env-file=/etc/wireguard/%i.conf

[Install]
WantedBy=multi-user.target
